.compressed {
  max-width: 800px;
}

.nav a {
  text-decoration: none;
}


.profile-desc {
  position: relative;
  margin-bottom: 42px;
  background-color: green;
}
.profile-desc .mugshot {
  background-color: purple;
}
.profile-desc .mugshot.profile img {
  margin: 0 0 0 auto !important;
}
@media (min-width: 700px) {
  .profile-desc .mugshot.profile img {
    margin: 0 auto !imporant;
  }
}
.profile-desc .bullets {
  background-color: red;
}

.profile-info {
  text-align: center;
  background-color: red;
  maring: 0 auto;
}
