---
layout: default
title: Hacks
group: "navigation"
order: 1
---

<!-- Page Header -->
{% include masthead.html background="hacks-bg.jpg" title="Hacks" subtitle="The Parts Bin" %}

<!-- Main Content -->
<section id="portfolio">
<div class="container">

  {% include hacks_item.html url="https://github.com/kylestew/Squarecraft" image="squarecraft.png" title="Squarecraft" subtitle="Make your own repeating pixel art wallpaper" description="This was one of the first apps I put on the App Store that has recently been removed (due to forgetting to pay my Apple account bill). The idea was inspired by an old Mac OS utility that allowed users to draw their own repeating background tiles. I hope to refresh this app soon, in the meantime here it is open sourced on GitHub if anyone wants to run with it." %}

  {% include hacks_item.html url="https://github.com/kylestew/HotOrGram" image="hotornot.png" title="HotOrGram" subtitle="Instagram and Hot or Not mashup" description="What happens when you apply the Hot or Not idea on top of Instagram? This is a good start in understanding that. Built in 4 hours, so not perfect." %}

  {% include hacks_item.html url="https://github.com/kylestew/Move" image="move.png" title="Move" subtitle="Your watch is concerned about your health" description="Pebble watchface that reminds you to get away from your desk and move your body. Hopefully help diminish the adverse health effects of a programmer's (me) lifestyle." %}

  </div>
</section>

<hr>
