---
layout: default
---

{% include bio.html %}

<section class="portfolio_grid">

    <!-- TODO: Synthtron build log -->

    {% include cell.html link="https://medium.com/@KyleRStewart/30-days-of-instruments-fc27df7a2600" image_name="grid_instruments.jpg" %}

    {% include cell.html link="https://medium.com/@KyleRStewart/algodone-rings-code-kitchen-2016-show-fc418050c978" image_name="grid_algodone.jpg" %}

    {% include cell.html link="http://assemblyapp.co" image_name="grid_assembly.jpg" %}

    {% include cell.html link="http://pigmentapp.co" image_name="grid_pigment.jpg" %}

    {% include cell.html link="http://color.marvel.com" image_name="grid_marvel.jpg" %}

    {% include cell.html link="http://kylerstewart.tumblr.com" image_name="grid_100days.jpg" %}

    {% include cell.html link="http://codepen.io/kylestew/" image_name="grid_experiments.jpg" %}

</section>
<div class="bottom-border"></div>
