---
layout: default
title: Portfolio
group: "navigation"
order: 0
---

<!-- Page Header -->
{% include masthead.html background="portfolio-bg.jpg" title="Kyle Stewart" subtitle="Technical Creative" %}

    {{% page.title %}}

<!-- Main Content -->
<div class="container">
  <div class="row profile-desc">
    <div class="profile mugshot col-sm-6">
      <img class="img-responsive img-circle" src="img/profile.jpg" alt="">
    </div>
    <div class="bullets col-sm-6">
      World
    </div>
  </div>

  <!--
    <div class="profile row">
      <div class="col-lg-offset-3 col-md-offset-3 col-md-2 col-lg-2">
      </div>
      <div class="profile-info col-lg-4 col-md-4 col-md-offset-1 col-lg-offset-1">
          <h3>Hello, I'm Kyle</h3>
          <ul class="profile-info">
            <li>Software developer</li>
            <li><a href="http://pixitesource.com">Full stack web developer</a></li>
            <li><a href="http://pixiteapps.com">Creative mobile apps</a></li>
            <li>10+ iOS apps shipped</li>
            <li><a href="http://kyleRstewart.tumblr.com">Making art with code</a></li>
            <li>Obsessed with the craft</li>
          </ul>
      </div>
    </div>
  -->
</div>

<section id="portfolio" class="bg-light-gray">

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Portfolio</h2>
      <h3 class="section-subheading text-muted">Work I'm Proud Of</h3>
    </div>
    <div class="row">

      {% include portfolio_item.html url="http://assemblyapp.co" image="assembly.png" title="Assembly" subtitle="Developer" %}

      {% include portfolio_item.html url="http://pixiteapps.com" image="pixite.png" title="Pixite" subtitle="Developer" %}

      {% include portfolio_item.html url="http://storybyte.com" image="storybyte.png" title="Storybyte" subtitle="CTO & iOS Developer" %}

      {% include portfolio_item.html url="http://gifmojo.com" image="gifmojo.gif" title="GiFmojo" subtitle="Developer" %}

    </div>
  </div>
</div>
</section>
