---
layout: default
---

{% include bio.html %}

<section class="portfolio_grid">

  <!-- TODO: VR in progress work lof -->
  <!-- TODO: Physical electronics / MAX project video -->

  <!-- TODO: WebGL demo reel
    + Compute shaders usage
    + Copy a few Mr Div type example - using post processing shaders and custom modeled geom
    + Ray marching / signed distance fields
    + Marching cubes?
    + Metaballs
    + Brushes with shaders - for Pixite
-->
  <!-- TODO: Creative Coding demo reel
    + Vector fields: audio reactive? - time dilation
    + generative algorithm: https://www.youtube.com/playlist?list=PLRqwX-V7Uu6bJM3VgzjNV5YxVxUwzALHV
      - https://www.kadenze.com/courses/the-nature-of-code-i/sessions/genetic-algorithms
    + Supershapes: https://www.youtube.com/watch?v=z86cx2A4_3E&list=PLRqwX-V7Uu6a5MvGn7a1y4dAKWzM8_Ar0
    + Phylotaxis: https://www.youtube.com/watch?v=KWoJgHFYWxY
    + Harmonic oscillation with audio
    + Lissouj figure creator
    + Animated sacred geometry - day 98
    + Formulated bodies
-->

    {% include cell.html link="/creative_code_demos.html" image_name="grid_three.jpg" %}

    {% include cell.html link="http://codepen.io/collection/nLeyVQ/" image_name="grid_three.jpg" %}

    {% include cell.html link="http://codepen.io/collection/noLwxz/" image_name="grid_p5.jpg" %}

    {% include cell.html link="http://kylerstewart.tumblr.com" image_name="grid_100days.jpg" %}

    {% include cell.html link="http://assemblyapp.co" image_name="grid_assembly.jpg" %}

</section>
<div class="bottom-border"></div>
