<section class="bio_header wrap_full">
  <header>
    <h1 class="bio_logo">
      {% img '{{ "profile.jpg" }}' %}
      Hello,
    </h1>
    <p class="bio_body">
      I create <strong>interactive systems</strong> for humans on and off the screen.
    </p>
    <!--
    <p class="bio_body_2">
      <a href="https://medium.com/@KyleRStewart/">Follow along</a> as I make the transition from <strong>mobile development</strong> to <strong>embedded systems engineering</strong>.
    </p>
  -->

    <div style="text-align: center;">
      <a href="/about.html" class="cta">About Me</a>
    </div>

    <ul class="social_links">
      <li>
        <a href="https://medium.com/@KyleRStewart/">
          <i class="fa fa-medium" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kyleRstewart">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/kylestew">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

  </header>
</section>
