<section class="bio_header wrap_full">
  <header>
    <h1 class="bio_logo">
      Kyle Stewart
    </h1>
    <div class="wrap_medium">
      <p class="bio_body">
        I’m a <strong>technical creative</strong> exploring the intersection between technology and art. Currently I work at <a href="http://pixiteapps.com"><strong>Pixite</strong></a> in <strong>San Diego</strong>.
      </p>
      <div class="social_links">
        [INSTA] [TWITTER] [GITHUB]
      </div>
    </div>
  </header>
</section>
