
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="{{ include.url }}" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-eye fa-3x"></i>
        </div>
      </div>
      <img class="img-responsive img-rounded" src="img/hacks/{{ include.image }}" alt="">
    </a>
  </div>
  <div class="col-md-9">
    <h3>
      <a href="{{ include.url }}">{{ include.title }}</a>
      </h3>
    <h4>{{ include.subtitle }}</h4>
    <p>
      {{ include.description }}
    </p>
  </div>
</div>
