<header class="site-header">
  <h1 id="logo">
    <a href="{{ site.baseurl }}/">
      <svg width="80px" height="32px" viewBox="0 0 80 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 3.8.2 (29753) - http://www.bohemiancoding.com/sketch -->
          <title>Diode</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Blank" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Teenage" transform="translate(0.000000, -16.000000)" stroke-width="4" stroke="#F9F9F9">
                  <g id="Diode">
                      <polygon id="Triangle-1" transform="translate(39.600000, 32.000000) rotate(90.000000) translate(-39.600000, -32.000000) " points="39.6000004 20.3999996 52.1000004 43.6000004 27.1000004 43.6000004"></polygon>
                      <path d="M50,18 L50,46" id="Line" stroke-linecap="round"></path>
                      <path d="M78,32 L50,32" id="Line" stroke-linecap="square"></path>
                      <path d="M28,32 L2,32" id="Line" stroke-linecap="square"></path>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </h1>

  <ul class="social_links">
    <li>
      <a href="https://instagram.com/kylestew">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/kyleRstewart">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/kylestew">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</header>
