<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }} | Portfolio{% endif %}</title>

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% asset_path apple-icon-57x57.png %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% asset_path apple-icon-60x60.png %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% asset_path apple-icon-72x72.png %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% asset_path apple-icon-76x76.png %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% asset_path apple-icon-114x114.png %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% asset_path apple-icon-120x120.png %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% asset_path apple-icon-144x144.png %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% asset_path apple-icon-152x152.png %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% asset_path apple-icon-180x180.png %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% asset_path android-icon-192x192.png %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% asset_path favicon-32x32.png %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% asset_path favicon-96x96.png %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% asset_path favicon-16x16.png %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% asset_path ms-icon-144x144.png %}">
  <meta name="theme-color" content="#ffffff">

  <!-- for Google -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="art" />
  <meta name="author" content="Kyle Stewart" />

  <!-- for Facebook -->
  <meta property="og:title" content="Kyle Stewart" />
  <meta property="og:site_name" content="Kyle Stewart" />
  <meta property="og:description" content="Kyle Stewart is a technical creative based in San Diego." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ site.url | escape }}{% asset_path 'profile.jpg' %}" />
  <meta property="og:url" content="{{ site.url | escape }}" />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kylerstewart" />
  <meta name="twitter:title" content="Kyle Stewart" />
  <meta name="twitter:description" content="Hi, I'm a technical creative based in San Diego." />
  <meta name="twitter:image" content="{{ site.url | escape }}{% asset_path 'profile.jpg' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <script src="https://use.typekit.net/ytn7mld.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  {% stylesheet main %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script type="text/javascript">{% asset vendor/modernizr %}</script>

  <!-- carousel -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript">{% asset vendor/slick %}</script>
</head>
