<header class="site-header">
  <h1 id="logo">
    <a href="{{ site.baseurl }}/">
      Kyle Stewart
    </a>
  </h1>

<!--
    <nav class="site-nav">

      <div class="trigger">
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      </div>

    </nav>
    <nav class="m-header_nav">
        <ul class="wrap_small">
            <li class="page_item page-item-5 current_page_item"><a href="http://www.alexcornell.com/">Projects</a></li>
<li class="page_item page-item-19"><a href="http://www.alexcornell.com/about/">About</a></li>
<li class="page_item page-item-21"><a href="http://www.alexcornell.com/writing/">Writing</a></li>
<li class="page_item page-item-27"><a href="http://www.alexcornell.com/photos/">Photos</a></li>
<li class="page_item page-item-25"><a href="http://www.alexcornell.com/music/">Music</a></li>
        </ul>
    </nav>
  -->

</header>
