{{ include.hello }}


<div class="col-md-4 col-sm-6 portfolio-item">
  <a href="{{ include.url }}" class="portfolio-link" data-toggle="modal">
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
        <i class="fa fa-eye fa-3x"></i>
      </div>
    </div>
    <img src="img/portfolio/{{ include.image }}" alt="" class="img-responsive">
  </a>
  <div class="portfolio-caption">
    <h4>{{ include.title }}</h4>
    <p class="text-muted">{{ include.subtitle }}</p>
  </div>
</div>
