.bio_header {
  header {
    padding: 2.6em;
    padding-top: 3em;
    padding-bottom: 2em;
    margin: 0 auto;
    max-width: 30em;

    font-family: "Droid Serif", serif;

    @include breakpoint($v-ipad) {
      padding-top: 4em;
      padding-bottom: 2em;
      max-width: 40em;
    }
    @include breakpoint($v-desktop) {
      padding-top: 6em;
      padding-bottom: 4em;
      max-width: 60em;
    }
  }

  h1.bio_logo {
    font-size: 3.0em;
    @include breakpoint($v-ipad) {
      font-size: 4.0em;
    }
    @include breakpoint($v-desktop) {
      font-size: 5.0em;
    }
  }

  p.bio_body {
    font-size: 1.6em;
    line-height: 1.47em;
    @include breakpoint($v-ipad) {
      font-size: 2.0em;
    }
    @include breakpoint($v-desktop) {
      font-size: 3.0em;
    }
  }
}
