.bio_header {
  header {
    padding: 2.2em;
    padding-top: 3em;
    padding-bottom: 2em;
    margin: 0 auto;
    max-width: 30em;

    font-family: "Droid Serif", serif;

    @include breakpoint($v-ipad) {
      padding-top: 4em;
      padding-bottom: 2em;
      max-width: 40em;
    }
    @include breakpoint($v-desktop) {
      padding-top: 6em;
      padding-bottom: 4em;
      max-width: 60em;
    }

    a.cta {
      text-decoration: underline;
      font-size: 1.2em;
      @include breakpoint($v-desktop) {
        font-size: 1.5em;
      }
    }
  }

  img {
    width: 56px;
    height: auto;
    float: left;
    margin-right: 0.4em;
    border-radius: 18px;
    border: 4px solid #000;
    @include breakpoint($v-ipad) {
      width: 78px;
    }
    @include breakpoint($v-desktop) {
      width: 92px;
    }
  }

  h1.bio_logo {
    font-size: 3.0em;
    @include breakpoint($v-ipad) {
      font-size: 4.0em;
    }
    @include breakpoint($v-desktop) {
      font-size: 5.0em;
    }
  }

  p.bio_body {
    font-size: 1.6em;
    line-height: 1.47em;
    @include breakpoint($v-ipad) {
      font-size: 2.0em;
    }
    @include breakpoint($v-desktop) {
      font-size: 3.0em;
    }
  }
  p.bio_body_2 {
    text-align: center;

    font-size: 1.2em;
    line-height: 1.4em;
    padding-top: 1.4em;
    @include breakpoint($v-ipad) {
      font-size: 1.4em;
    }
    @include breakpoint($v-desktop) {
      font-size: 2.0em;
    }
  }

  ul.social_links {
    text-align: center;

    @include breakpoint($v-ipad) {
      right: 1em;
    }

    margin: 0; padding: 0;
    list-style-type: none;

    li {
      display: inline;
      font-size: 3.2em;
      line-height: 1.7em;

      a {
        padding: 0.1em;
        @include breakpoint($v-ipad) {
          padding: 0.3em;
        }
      }
    }

    li.text_link {
      font-size: 1.5em;
      padding-left: 1em;
      padding-bottom: 2px;
    }
  }
}
