.bio_header {
  font-family: "Droid Serif", serif;
  padding-top: 1em;
  padding-bottom: 6em;

  h1.bio_logo {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: 0;
    text-align: center;
    color: #EFEFEF;
    overflow: hidden;

    // responsive
    font-size: 96.7px;
    letter-spacing: -1px;
    font-weight: 900;
    line-height: 76.5px;

    text-transform: uppercase;
  }

  p.bio_body {
    font-size: 3.0em;
    line-height: 1.47em;
  }

  .social_links {
    text-align: right;
    height: 24px;
  }
}
