main {
  margin-top: 4em;
}

.wrap_full {
  position: relative;
  width: 100%;
  padding: 0;
  max-width: none;
}

.wrap_medium {
  max-width: 60em;
  margin: 0 auto;
  padding: 0;
  width: span(11 of 12);
}

.wrap_small {
  max-width: 50em;
  margin: 0 auto;
  padding: 0;
  width: span(11 of 12);
}

.text-readable {
  font-family: 'Helvetica Neue', sans-serif;
}

.bio_header {
  border-bottom: 12px solid $text-color;
}

footer {
  border-top: 12px solid $text-color;
  padding: 4em;
  position: relative;
  overflow: hidden;
  clear: both;
  @include breakpoint($v-ipad) {
    padding: 6em;
  }
}
footer .cat {
  position: absolute;
  height: 120px;
  width: 120px;
  bottom: -80px;
  right: 54px;
  content:url(asset_path("cat.png"));

  @include breakpoint($v-ipad) {
    height: 200px;
    width: 200px;
    bottom: -132px;
    right: 120px;
  }
}

.four04 {
  text-align: center;
  max-width: 30em;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em;
}
